<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Convertidor de bases</title>
</head>

<body>
    <div>
        <h2>Conversion de Base 10 a Base 2</h2>

        <p>Ingrese un numero:</p>

        <input id="num" type="number" min="1" max="10">

        <button onclick="conver1()">Convertir</button>
    </div>

    <div>
        <h2>Conversion de Base 10 a Base 8</h2>

        <p>Ingrese un numero:</p>

        <input id="num2" type="number" min="1" max="10">

        <button onclick="conver2()">Convertir</button>
    </div>

    <div>
        <h2>Conversion de Base 10 a Base 16</h2>

        <p>Ingrese un numero:</p>

        <input id="num3" type="number" min="1" max="10">

        <button onclick="conver3()">Convertir</button>
    </div>

    <div>
        <h2>Conversion de Base 2 a Base 10</h2>

        <p>Ingrese un binario:</p>

        <input id="num4" type="text">

        <button onclick="conver4()">Convertir</button>
    </div>

    <div>
        <h2>Conversion de Base 2 a Base 8</h2>

        <p>Ingrese un binario:</p>

        <input id="num5" type="text">

        <button onclick="conver5()">Convertir</button>
    </div>

    <div>
        <h2>Conversion de Base 2 a Base 16</h2>

        <p>Ingrese un binario:</p>

        <input id="num6" type="text">

        <button onclick="conver6()">Convertir</button>
    </div>

    <script src="../script/Bases.js"></script>

</body>

</html>