<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/skeleton.css">
    <link rel="stylesheet" href="../style/Base.css">
    <title>Concatenar dos cadenas</title>
</head>
<body>
  <div class="container">
    <div class="header hero">
      <h1>Cadenas</h1>
    </div>
    <div class="seccion">
      <div class="row">
        <h2>Concatenar dos cadenas</h2>
        <div class="five columns carteles">
          <label for="cadena1">Ingrese una frase</label>
          <input type="text" id="cadena1" placeholder="Ingrese una frase 1">
        </div>
        <div class="five columns carteles">
          <label for="cadena2">Ingrese una cadena</label>
          <input type="text" id="cadena2" placeholder="Ingrese una frase 2">
        </div>
        <div class="buttons row">
          <button onclick="concatenar()">Realizar</button>
        </div>
      </div>
    </div>
    <div class="seccion">
      <div class="row">
        <h2>Buscar subcadena</h2>
      </div>
      <div class="row">
        <div class="four columns">
          <label for="">Ingrese una cadena</label>
          <input type="text" id="cadena_b" placeholder="Ingrese una cadena">
        </div>
        <div class="five columns">
          <label for="">Ingrese una subcadena a buscar</label>
          <input type="text" id="subcadenas" placeholder="subcadenas">
        </div>
      </div>
      <div class="buttons row">
        <button onclick="buscar_subcadena()">Buscar</button>
      </div>
    </div>
    <div class="seccion">
      <div class="row">
        <h2>Insertar subcadena</h2>
      </div>
      <div class="row">
        <div class="four columns">
          <h3>Cadena:</h3>
          <label for="">Hola que tal <span id="insertar"></span></label>
        </div>
        <div class="five columns">
          <label for="">Ingrese una subcadena</label>
          <input type="text" id="cadena_i" placeholder="Ingrese una frase">
        </div>
      </div>
      <div class="buttons row">
        <button onclick="Insertar()">Insertar</button>
      </div>
    </div>
    <div class="seccion">
      <div class="row">
        <h2>Eliminar subcadena</h2>
      </div>
      <div class="row">
        <div class="four columns">
          <label for="">Ingrese una cadena</label>
          <input type="text" id="cadena_e" placeholder="Ingrese una cadena">
        </div>
        <div class="five columns">
          <label for="">Ingrese una subcadena a eliminar</label>
          <input type="text" id="subcadena_e" placeholder="Ingrese una cadena">
        </div>
      </div>
      <div class="buttons row">
        <button onclick="Eliminar()">Eliminar</button>
      </div>
    </div>
  </div>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="../script/Cadenas.js"></script>
</body>
</html>
