<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/normalize.css">
    <link rel="stylesheet" href="../style/skeleton.css">
    <link rel="stylesheet" href="../style/Base.css">
    <title>Concatenar dos cadenas</title>
</head>
<body>
    <h2>Concatenar dos cadenas</h2>
   <input type="text" id="cadena1"> 
   <input type="text" id="cadena2">
   <button onclick="concatenar()">Realizar</button>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="../script/Concatenar dos cadenas.js"></script>
</body>
</html>