<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../style/normalize.css">
  <link rel="stylesheet" href="../style/skeleton.css">
  <link rel="stylesheet" href="../style/Divisores.css">
  <title>Divisores</title>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Divisores</h1>
    </div>
    <div class="Seccion1">
      <div class="row">
        <h2>Encontrar divisores</h2>
        <p>Se conseguiran los divisores de un numero que ingrese el usuario</p>
        <div class="carteles Input eight columns">
          <label for="input_Div">Numero</label>
          <input type="number" placeholder="Ingrese un numero..." id="input_Div">
        </div>
        <div class="carteles Salida four columns">
          <p>Los divisores en contrados son: <span id="respuesta_div"></span></p>
          <p>La suma de estos divisores es: <span id="suma_div"></span></p>
        </div>
      </div>
      <div class="buttons row">
        <button onclick="Divisores_f()">Aceptar</button>
      </div>
    </div>
    <div class="Seccion2">
      <div class="row">
        <div class="header">
          <h1>Numero Perfecto</h1>
        </div>
        <div class="eleven columns carteles">
          <label for="input_Perfect">Ingrese un numero: </label>
          <input type="number" id="input_Perfect" placeholder="Ingrese un numero">
        </div>
      </div>
      <div class="row buttons">
        <button onclick="SumaDeDivisoresOPerfecto()"type="button" name="button">Aceptar</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="../script/Mensajes.js" charset="utf-8"></script>
  <script src="../script/Divisores.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
