<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/juego1.css">
    <title>Juego de Memoria</title>
</head>

<body>
    <main>
        <section class="section1">
<h1>Juego Memoria</h1>
<table>
    <tr>
        <td><button id="0" onclick="juego1(0)"></button></td>
        <td><button id="1" onclick="juego1(1)"></button></td>
        <td><button id="2" onclick="juego1(2)"></button></td>
        <td><button id="3" onclick="juego1(3)"></button></td>
    </tr>
    <tr>
        <td><button id="4" onclick="juego1(4)"></button></td>
        <td><button id="5" onclick="juego1(5)"></button></td>
        <td><button id="6" onclick="juego1(6)"></button></td>
        <td><button id="7" onclick="juego1(7)"></button></td>
    </tr>
    <tr>
        <td><button id="8" onclick="juego1(8)"></button></td>
        <td><button id="9" onclick="juego1(9)"></button></td>
        <td><button id="10" onclick="juego1(10)"></button></td>
        <td><button id="11" onclick="juego1(11)"></button></td>
    </tr>
    <tr>
        <td><button id="12" onclick="juego1(12)"></button></td>
        <td><button id="13" onclick="juego1(13)"></button></td>
        <td><button id="14" onclick="juego1(14)"></button></td>
        <td><button id="15" onclick="juego1(15)"></button></td>
    </tr>
</table>
        </section>
        <section class="section2">
            <h2 id="aciertos" class="estadisticas">Aciertos: 0</h2>
            <h2 id="t-restante" class="estadisticas">Tiempo: 30 seg</h2>
            <h2 id="movimientos" class="estadisticas">Movimientos: 0</h2>
        </section>
    </main>
    <footer>
        <p>Juego programado por <a href="https://www.instagram.com/alejandroch_5/" >Alejandro Chaguay</a></a></p>
    </footer>
    <script src="../script/juego1.js"></script>
</body>

</html>