.carteles{
  max-width: 100%;
  margin: 9px;
}

.buttons{
  display: flex;
  justify-content: center;
  width: 100%;
}

.Seccion1, .Seccion2{
  margin-bottom: 5em;
}

.seccion{
  margin-bottom: 4em;
}

#input_ac{
  width: 8em;
  margin-right: 7px;
}

#div_add{
  display: flex;
}

#div_add button{
  text-align: justify;
  text-size-adjust: auto;
}
